@font-face {
  font-family: 'Red Hat Text';
  src: url('../../public/assets/fonts/RedHatText-VariableFont_wght.ttf') format('ttf');
  font-style: normal;
}
body {
  font-family: 'Red Hat Text', sans-serif;
}
