:root {
  -Red: #c73a0f;
  -Green: #1ea475;
  -Rose-50: #fcf9f7;
  -Rose-100: #f4edeb;
  -Rose-300: #c9aea6;
  -Rose-400: #ad8985;
  -Rose-500: #87635a;
  -Rose-900: #260f08;
  -black: #000
}

@font-face {
  font-family: 'Red Hat Text';
  src: url('../../public/assets/fonts/RedHatText-VariableFont_wght.ttf') format('ttf');
  font-style: normal;
}
body {
  font-family: 'Red Hat Text', sans-serif;
}
